# Android-specific ignores
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
*.iml
.idea/
.externalNativeBuild
captures/

# iOS-specific ignores
*.DS_Store
*.xcuserstate
*.xcodeproj
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings
*.xcworkspace
!default.xcworkspace
xcuserdata
DerivedData/
*.hmap
*.ipa
*.xcscmblueprint

# General ignores (Applicable for both platforms)
*.swp
*.bak
*.tmp
*~
*.swp
*.swo
*~
*.log
build/
*.pbxuser
!default.pbxuser
*.perspective
!default.perspective
*.perspectivev3
!default.perspectivev3
*.moved-aside
*.xccheckout
*.lock
*.lock-wscript
*.synctex.gz
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
*.sage.py
*.rhistory
*.egg-info/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories (node_modules for React Native or similar)
node_modules/

# Keystore files
*.jks
*.keystore

# Ignore Gradle wrapper jar file (.jar)
.gradle/wrapper/dists/*.jar

# Others
google-services.json
